<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="programmer" class="inc.sims.hustles.Programmer">
        <constructor-arg name="laptop" ref="mylaptop"/>
        <constructor-arg name="age" value="32"/>
<!--        <property name="age" value="32"></property>-->
<!--        <property name="laptop" ref="mylaptop"></property>-->
    </bean>
    <bean id="mylaptop" class="inc.sims.hustles.Laptop"></bean>

</beans>